@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*,
*::before,
*::after { box-sizing: border-box; }
body {
    min-width: 320px;
    padding-top: 40px;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: left;
    color: $grey;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    margin-bottom: 0.5em;
}
a, span, button {
    &, &:hover, &:focus, &:active { text-decoration: none; outline: none; }
}
a:hover, a:focus, a:active { color: $base-color; }
button::-moz-focus-inner { border: 0; }
img { max-width: 100%; }
input[type="radio"] { -webkit-appearance: radio; }
.btn:active, .btn.active, .btn:focus, .btn.focus,
.btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
	box-shadow: none;
}
