.container {
    padding: 0 12px;
    max-width: 100%;
}

@media (min-width: $breakpoint-tablet) {
    .container { padding: 0 25px; }
}

@media (min-width: $breakpoint-desktop) {
    .container {
        max-width: calc(#{$breakpoint-desktop} - 80px);
        padding: 0 40px;
    }
}