// Mixins for positioning, if you want to exclude one of "top left bottom right"
// just enter "no" instead
@mixin position($position, $args) {
	position: $position;
	$offsets: top left bottom right;

	@each $o in $offsets {
		$value: nth($args, index($offsets, $o));

		@if $value != "no" {
			#{$o}: $value;
		}
	}
}

@mixin absolute($args) {
	@include position(absolute, $args);
}

@mixin fixed($args) {
	@include position(fixed, $args);
}

@mixin relative($args) {
	@include position(relative, $args);
}

// Vertical align in the middle
@mixin vertical-align {
	top: 50%;
	transform: translateY(-50%);
}

// Absolute center
@mixin absolute-center {
	@include absolute(50% 50% no no);
	transform: translate(-50%, -50%);
}

// Fixed center
@mixin fixed-center {
	@include fixed(50% 50% no no);
	transform: translate(-50%, -50%);
}

// Relative center
@mixin relative-center {
	@include relative(50% 50% no no);
	transform: translate(-50%, -50%);
}

// Retina media query
// Example
// @include retina(2, 200);
@mixin retina ($pixelRatio, $dpi) {
	@media
	(-webkit-min-device-pixel-ratio: $pixelRatio),
	(   min--moz-device-pixel-ratio: $pixelRatio),
	(   -moz-min-device-pixel-ratio: $pixelRatio),
	(     -o-min-device-pixel-ratio: $pixelRatio/1),
	(        min-device-pixel-ratio: $pixelRatio),
	(                min-resolution: $dpi + 'dpi'),
	(                min-resolution: $pixelRatio + 'dppx') {
	    @content;
	}
}

// Font Face for font imports
@mixin fontface($name, $file, $weight: normal, $style: normal){
	@font-face {
		font-family: "#{$name}";
		src: url('fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}
