// Colors
$base-color: #c60000;
$grey: #525252;
$yellow: #f8e71c;
$blue: #007bff;
$green: #28a745;

// Z indexes
$z-indexes: (
	header: 9997,
	modal: 9998,
	loader: 9999
);

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;

// Themes
$themes: (
	red: $base-color,
	yellow: $yellow,
	blue: $blue,
	green: $green
)

// Bootstraps variables
// $primary: $base-color;
// $secondary: $grey;

// $input-btn-border-width: 2px;
// $btn-border-radius: 20px;
// $btn-border-radius-lg: 25px;
// $btn-border-radius-sm: 18px;
// $btn-padding-y: 0;
// $btn-padding-x: 50px;
// $btn-line-height: 36px;
// $btn-padding-y-sm: 0;
// $btn-padding-x-sm: 25px;
// $btn-line-height-sm: 32px;
// $btn-padding-y-lg: 0;
// $btn-padding-x-lg: 80px;
// $btn-line-height-lg: 46px;
// $btn-font-weight: 700;